name: Create release

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write
  id-token: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/mcp-server-for-powershell
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install 3.14

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Update Version
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          echo "Updating version to $VERSION"
          sed -i "s/^__version__ = \".*\"/__version__ = \"$VERSION\"/" src/mcp_server_for_powershell/__init__.py
          sed -i "s/^version = \".*\"/version = \"$VERSION\"/" pyproject.toml

      - name: Run Tests
        run: uv run pytest tests/unit

      - name: Build
        run: uv build

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" dist/* --generate-notes

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
